<body class="jumbotron-fluid">
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your response has been recorded.</strong> </p>
    <hr>
    <p>
        Having trouble? <p> Contact us at ssadiq1@my.centennialcollege.ca</p>


    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-action="ContactHome" asp-controller="Contact" role="button">Back</a>
    </p>
</div>
</body>