
    <nav class="navbar navbar-expand-lg static-top navbar-light" style="background-color: #a0a013;">
        <div class="container">
            <a class="navbar-brand" asp-controller="#" asp-action="#">


                <img src="~/images/1458640212.jpg"  style="max-width:55px; margin-top: -7px;"> Centennial Crisis Management System
            </a>
            </div>
        </nav>




<body class="justify-content-center">
    <h5 class="text-md-right ">This user is a contact</h5>

    <div style="padding-left:35em; padding-top:5em;">

        <div class="card text-center">
            <div class="card-header">
             Alert
            </div>
            <div class="card-body">
                <h5 class="card-title">Gun Fire</h5>
                <div class="card-text">
                    <p>There is a gun fire at the centennial college scarborough campus.</p>
                    <p><b> Are you safe?</b></p>
                    <p><a asp-action="Contactresponseconfrm" asp-controller="Contact"  class="btn btn-success btn-lg" >Yes</a>
                   <a asp-action="Contactresponseconfrm" asp-controller="Contact"  class="btn btn-danger btn-lg">No</a></p>
                </div>
            </div>

            <div class="card-footer text-muted">
                Centennial Crisis Management System
            </div>
        </div>
    </div>
</body>
