@model IEnumerable<Contact>
@{
    
    Layout = "_CMNavLayout";
}

<body>
    <div class="jumbotron">
        <h1 class="display-3">All Contacts</h1>
        <p class="lead"></p><div class="form-group" style="">
            <table class="table" style="">
                <thead>
                    <tr>			  
                    <th>Student ID</th>			  
                    <th>First Name</th>			  
                    <th>Last Name</th>			
                    </tr>
                </thead>
                <tbody>
                    @foreach(Contact c in Model)
                    {
                        <tr>
                            <td>@c.StudentID</td>
                            <td>@c.FirstName</td>
                            <td>@c.LastName</td>
                        </tr>
                    }
                		  
                </tbody>
            </table>
        </div><div class="form-group" style=""></div><p></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Edit Contacts</a></p>
    </div>

    <div class="row marketing">



    </div>
</body>
