################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrisisApplication/obj/Debug/netcoreapp2.1
