@model Event

@{
    ViewBag.Title = "Centennial College Crisis Management System";
    Layout = "_CMNavLayout";
}


    <h4>Add Event</h4>
    <div>
        <p>Add a new event</p>
    </div>
    <hr />

    <div>
        <form asp-action="Edit" method="post">

            <partial name="_EventPartial"/>


            <button type="submit" class="btn btn-danger">Save</button>
            <button asp-action="Index" asp-controller="Event" class="btn btn-danger">Cancel</button>

        </form>
    </div>

