
@{
    ViewData["Title"] = "SignUp";
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="input-group form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group form-group">
                        <input type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="input-group form-group">
                        <input type="password" class="form-control" placeholder="Re-enter password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a asp-action="SignIn" asp-controller="Account">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>

