@{
    Layout = "_CMNavLayout";
 }

<body>
    
        
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Contacts</h4>
                <p>As a crisis manager, you can edit and delete contacts of the members of Centennial College.</p>

                <h4>Alerts</h4>
                <p>As a Crisis Manager, you can send alerts to respondent and contact via email or SMS.</p>
            </div>

            <div class="col-lg-6">
                <h4>Status</h4>
                <p>As a crisis manager you can view the status of the contacts as safe or unsafe.</p>






            </div>
        </div>

        


</body>