<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Centennial Crisis Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron-narrow.css" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <partial name="CMNav_Partial.cshtml"/>



        <div class="row marketing">
            <div class="col-lg-6">



                <h4>Contacts</h4>
                <p>As a crisis manager, you can edit and delete contacts of the members of Centennial College.</p>

                <h4>Alerts</h4>
                <p>As a Crisis Manager, you can send alerts to respondent and contact via email or SMS.</p>
            </div>

            <div class="col-lg-6">
                <h4>Status</h4>
                <p>As a crisis manager you can view the status of the contacts as safe or unsafe.</p>






            </div>
        </div>

        <footer class="footer">
            <p contenteditable="true" spellcheckker="false">Centennial Crisis Management System</p>
        </footer>

    </div> <!-- /container -->


</body>