<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Centennial Crisis Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron-narrow.css" rel="stylesheet" />
</head>

<body>

    <div class="container">

        <partial name="CMNav_Partial.cshtml" />

        <div class="jumbotron">
            <h1 class="display-3">Send Alert</h1>
            <p class="lead"><div class="form-group" style="">Compose the alert in the text box given below.</div><div class="form-group" style=""><textarea class="form-control"></textarea></div></p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Send</a></p>
        </div>

        <div class="row marketing">



        </div>

        <footer class="footer">
            <p>Centennial Crisis Management System</p>
        </footer>

    </div> <!-- /container -->


</body>