@{
    Layout = "_CMNavLayout";
}

<body>
    @*<div class="jumbotron">
        <h1 class="display-3">Send Alert</h1>
        <p class="lead"><div class="form-group" style="">Compose the alert in the text box given below.</div><div class="form-group" style=""><textarea class="form-control"></textarea></div></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Send</a></p>
    </div>
    <div class="row marketing">



    </div>*@


</body>