
html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    background-image: url('../images/white-bg.jpg');
    background-repeat: repeat-x !important;
    background-attachment: fixed !important;
    background-position: top left !important;
    background-size: contain;
}

.header {
    max-width: 50%;
    max-height: 50%;
    z-index: 2000;
}

.content {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 10px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.td-last {
    position: absolute;
    right: 30px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 50px;
}

/*Sign In Sign Up page*/
.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 450px;
    background-color: 1px solid #f8f9fa;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: white;
    width: 100px;
    background-color: #007bff;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links a {
    color: #ffc107;
}

.links a {
    margin-left: 4px;
}

