<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.0.0/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-light">
  

    <div class="container">

        <div class="py-5 text-center">
            <h2>Centennial College Crisis Management System</h2>
            <p class="lead">Lorem Ipsum Dolor... Description here</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

    </div>

</body>
</html>
