<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link" asp-action="CrisisManagerHome" asp-controller="CrisisManager">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="ViewContacts" asp-controller="CrisisManager">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Events" asp-controller="CrisisManager">Events</a>
            </li>            
        </ul>
    </nav>
    <h3 class="text-muted">Crisis Manager</h3>
</div>
